@model Library_NPR321.Models.ViewModels.BookVM

<h1>Додавання книги</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="form-group" style="padding: 10px;">
        <label asp-for="Book.Title" class="control-label"></label>
        <input asp-for="Book.Title" class="form-control" />
        <span asp-validation-for="Book.Title" class="text-danger"></span>
    </div>

    <div class="form-group" style="padding: 10px;">
        <label asp-for="Book.AuthorId" class="control-label"></label>
        <select asp-for="Book.AuthorId" asp-items="Model.ListItems" class="form-control"></select>
        <span asp-validation-for="Book.AuthorId" class="text-danger"></span>
    </div>

    <div class="form-group" style="padding: 10px;">
        <label asp-for="Book.Language" class="control-label"></label>
        <input asp-for="Book.Language" class="form-control" />
        <span asp-validation-for="Book.Language" class="text-danger"></span>
    </div>

    <div class="form-group"style="padding: 10px;">
        <label asp-for="Book.Genre" class="control-label"></label>
        <input asp-for="Book.Genre" class="form-control" />
        <span asp-validation-for="Book.Genre" class="text-danger"></span>
    </div>

    <div class="form-group" style="padding: 10px;">
        <label asp-for="Book.Image" class="control-label"></label>
        <input type="file" name="newImage" />
    </div>

    <div class="form-group" style="padding: 10px;">
        <button type="submit" class="btn btn-primary btn-custom">Зберегти</button>
        <a asp-action="Index" class="btn btn-secondary btn-custom">Назад до списку книг</a>
    </div>
</form>
