@model IEnumerable<Library_MVC_.Models.Book>

<!DOCTYPE html>
<html>
<head>
    <title>Улюблені книги</title>
</head>
<body>
    <h1>Улюблені книги</h1>
    <table>
        <thead>
            <tr>
                <th>Назва</th>
                <th>Автор</th>
                <th>Операції</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@book.Id" method="post">
                            <button type="submit">Видалити з улюблених</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
