@model Book

<h1>Delete Book</h1>

<form method="post" asp-controller="Book" asp-action="Delete">
    <div class="form-group" style="width: 40%">
        <label asp-for="Title" class="m-1">Title</label>
        <input disabled asp-for="Title" class="form-control m-1" placeholder="Title">
    </div>
    <div class="form-group" style="width: 40%">
        <label class="m-1">Author Name</label>
        <input disabled class="form-control m-1" value="@Model.Author.FirstName @Model.Author.LastName" placeholder="Author Name">
    </div>
    <div class="form-group" style="width: 40%">
        <label class="m-1">Year</label>
        <input disabled asp-for="Year" class="form-control m-1" placeholder="Year">
    </div>
    <button type="submit" class="btn btn-danger m-2">Delete</button>
    <a asp-controller="Book" asp-action="Index" class="btn btn-secondary m-2">Back</a>
</form>
