@model Library_MVC_.Models.RegisterViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Реєстрація</title>
</head>
<body>
    <h1>Реєстрація</h1>
    <form asp-action="Register" enctype="multipart/form-data">
        <div>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </div>
        <div>
            <label asp-for="LastName"></label>
            <input asp-for="LastName" />
            <span asp-validation-for="LastName"></span>
        </div>
        <div>
            <label asp-for="Avatar"></label>
            <input asp-for="Avatar" type="file" />
            <span asp-validation-for="Avatar"></span>
        </div>
        <div>
            <button type="submit">Реєстрація</button>
        </div>
    </form>
</body>
</html>
